
<div id="content" style="height: 350px"></div>

@Scripts.Render("~/bundles/react")

<script src="@Url.Content("~/js/FrameDocs/TestData/Flex1.js")"></script>
<script src="@Url.Content("~/js/Frames/Trays/TrayZ.jsx")"></script>
<script src="@Url.Content("~/js/Frames/Tray.jsx")"></script>
<script src="@Url.Content("~/js/Frames/Pic.jsx")"></script>
<script src="@Url.Content("~/js/Frames/FlexibleFrame.jsx")"></script>
<script src="@Url.Content("~/js/Index.jsx")"></script>
